table{
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 0 2% 0;
    box-shadow: 5px 5px 10px rgba(212, 212, 212, 0.3);
    cursor: default;
}

table thead tr{
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    padding: 2%;
}

table tbody td, table thead th{padding: 10px;}

table tbody td{border-bottom: 1px solid #ddd;}

table tbody tr:hover{
    background-color: rgb(129, 162, 223); cursor: crosshair;
}

.gray{background: #EEE;}

.white{background: #FFF;}

table td img{       /*isso vai definir o tamanho da foto*/
    width: 80px;
}


table img:hover {
    transform: scale(2);

    }
